{% extends 'base.html' %}
{% block content %}
    <h1>Honesty Statement</h1>
    
    <h3>I attest that all work on this project was completed by me alone.  I understand that copying other students' work will result in a student conduct violation, receiving no credit for this project, and a lowered grade in the course.  I also understand that ALLOWING someone else to copy or use my work also counts as academic dishonesty, and will also subject me to the same student conduct violation and punishment.  I also understand that MISY350 is offered only in the spring, so earning a grade below C- would effectively delay my graduation date by one year.

        The above statement should not be interpreted as forbidding any collaboration among students.  Students are ENCOURAGED to help each other and discuss procedures and approaches for solving the assigned project.  Doing the work (or having someone do the work) for another student, however, is strictly forbidden.  The instructor expects, therefore, that the work submitted is reflective of the submitting student's ability and understanding of the relevant concepts.
        
        The instructor reminds students that the grading approach allows students to make mistakes and revise their work without any academic penalty.  I understand that I can extend the assignment due date by three days by using a token, and the instructor is willing to answer questions and help if he can.</h3>
        
        <h3>By: Chris Gebreyesus _____  Date: 5/1/2022</h3>
{% endblock %}
